#board {
  display: flex;
  width: 90%;
  max-width: 1100px;
  height: 100%;
  max-height: 32em;
  flex-wrap: wrap;
  justify-content: space-evenly; 
} 

.card {
  width: 10em;
  height: 15em;
}

.cardHolder {
  width: 10em;
  height: 15em;
}

.cardFront {
  display: none;
}

.cardBack {
  display: block;
}
