div {
  margin: 0;
  padding: 0;  
}

body {
  margin: 0;
  padding: 0;  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.centerCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  width: 100%;
  height: 100vh;
  justify-content: center;
}

#header {
  margin-bottom: 5vh;
}

#inputFrame {
  margin-bottom: 15vh;
}

