<!DOCTYPE html>

<html>
  <head>
    <title>Memorama</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="{{ static }}/css/layout.css">
    <link rel="stylesheet" href="{{ static }}/css/cards.css">
    <script src="{{static}}/js/main.js"></script>
  </head>

  <body>
    <div id="main" class="centerCol">

      <div id="header" class="centerCol">
        <h1>Memorama</h1>
      </div>

      <div id="board">
        {% for filename in filenames%}
        <div class="cardHolder" 
            onclick="flipCard('b_{{ loop.index0 }}', 'f_{{ loop.index0}}')">
          <image id="b_{{ loop.index0 }}" class="card cardBack" 
            src="{{ statics }}/img/reverso.png">
          <image id="f_{{ loop.index0 }}" class="card cardFront" 
            src="{{ statics }}/img/{{ filename }}">
        </div>
        {% endfor %}

      </div>
    </div>
  </body>
</html>
