<!DOCTYPE html>

<html>
  <head>
    <title>Memorama</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="{{ statics }}/css/layout.css">
    <script src="{{ statics }}/js/main.js"></script>
  </head>

  <body>
    <div id="main" class="centerCol">

      <div id="header" class="centerCol">
        <h1>Memorama</h1>
        <h2>Carga tus imagenes</h2>
      </div>

      <form action="/board" method="post" class="imagesInputForm" enctype="multipart/form-data">
        <div id="inputFrame" class="centerCol">
            <input type="file" name="images" id="imagesInput"
              accept="image/png, image/jpeg" multiple="true" onchange="btnEnabler('submitBTN', 'imagesInput')">
        </div>
        <div class="centerCol">
          <input id="submitBTN" disabled="true" type="submit" value="Cargar">
        </div>
      </form>     
    </div>
  </body>
</html>
